<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.dao.BooksDao">

    <insert id="addBook">
        insert into books(bookId, bookName, bookCounts, detail) values (#{bookId},#{bookName},#{bookCounts},#{detail})
    </insert>
    <update id="updateBook">
        update books set bookName = #{bookName},bookCounts = #{bookCounts},detail = #{detail} where bookId = #{bookId}
    </update>
    <delete id="deleteBook">
        delete from books where bookId = #{bookId}
    </delete>
    <select id="queryByBookId" resultType="com.hand.pojo.Books">
        select * from books where bookId = #{bookId}
    </select>
    <select id="queryBookList" resultType="com.hand.pojo.Books">
        select * from books
    </select>
    <select id="queryByBookName" resultType="com.hand.pojo.Books">
        select * from books where bookName like concat('%',#{bookName},'%')
    </select>
</mapper>